.butn-open{
    display: block;
    border: none;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
  
    margin: 200px auto 0;
  
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    cursor: pointer;
    width: 300px;
    height: 100px;
    color: $primary-Wcolor;
    background-color: $accent-color;
  
    transition-property: background-color box-shadow;
    transition-duration: $transition;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: rgb(255, 81, 0);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}